:root{
    --background-color: aqua;
    --color-text-darkblue: #0A3871;
    --background-color-test: #7FFFD4;

        /* options: lavender #E6E6FA	*/

}

footer {
    background-color: white;
    font-family: Inter, sans-serif;

    gap: 5px;
    padding-top: 10px; 
    margin-top: 5rem;
    border-top: 0.4px solid #FFFFFF;
    
}

.container-footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 14px 0px;
}

.credits {
    width: 50%;

    align-items: center;

    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.2px;
    text-decoration: none;

    color: black;

    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;

}

.lineBar {
    height: 8rem;
    border-right: 1px solid var(--color-text-darkblue);
}

.followMe {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.2px;
    text-decoration: none;

    color: black;
}

.credits strong {
    text-decoration: underline;
}

.socialMediaContainer {
    width: 20%;
}

.footer-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-icons li{
    padding: 0 10px;
}


@media screen and (max-width: 1000px) {
    .socialMediaContainer{
        display:flex;
        width: 80%;
        justify-content: center;
        margin: 0;
    }

    .footer-icons li{
        padding: 0 8px;
    }
}