
:root{
    --background-color: aqua;
    --color-text-darkblue: #0A3871;
}

#backgroundText {
    width: 850px;
    height: 450px;

    padding: 20px;
    margin-top: 10px;

    text-align: center;

    /* White */
    background: #FFFFFF;
    font-family: Inter, sans-serif;

    /* shadow */
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

#containerInput {
    
    padding-bottom: 0px;

    margin-top: -100px;
    margin-left: 2.5em;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;

    width: 868.8px;
    height: 800px;

    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;

    color: var(--color-text-darkblue)

}

/* Texto de orientação ao usuário para mandar o texto */

#textOrientation {
    display: flex ;
    padding-left: 30px;
    padding-bottom: 2px;

    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;

}

/* Campo de envio do texto */

.inputText {

    background: transparent;
    color: var(--color-text-darkblue);
    resize: none;
    border: 0 none;
    width: 28em;
    font-size: 0.9em;
    outline: none;
    height: 100%;

}

.alert {
    height: 42px;

    display: flex;
    flex-direction: row;
    padding: 0px;
    margin-left: 20px;
    font-size: 18px;

    align-items: center;

}

.alert span {
    /* sobre o texto */
    font-size: 14px;
    padding-left: 6px;

}

@media(max-width:1540px){
    #containerInput{
        margin-right:1.9em;
    }
}

@media(max-width:1450px){
    #containerInput{
        margin-right: 0px;
    }
}

@media(max-width:768px) {

    #backgroundText{
        width: 600px;
        height: 400px;
    }

    .inputText {
        width: 560px;
        height: 360px;
    }

    #containerInput{
        margin-right: 0px;
    }
}

@media(max-width:426px){
    main{
        width: 425px;
    }

    #backgroundText{
        width: 500px;
        height: 400px;
    }
    .inputText {
        width: 285px;
        height: 340px;
    }
    #containerInput{
        width: 425px;
        margin-bottom: -2em;
        margin-right: 22em;
        margin-left: 1.7em;
        width: 380px;
    }
    #backgroundText {
        width: 320px;
        height: 380px;
    }
}


