
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root{
    --background-color: aqua;
    --color-text-darkblue: #0A3871;
    --background-color-test: #7FFFD4;

        /* options: lavender #E6E6FA	*/

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

body {
    font-family: Inter, sans-serif;
    background: var(--background-color);
    overflow-x: hidden;
}

#containerResult{
    display: flex;
    flex-direction: column;

    /* ficar de olho nessas propriedades */
    align-items: center; 
    justify-content: center;
    text-align: center;

    width: 30%;
    margin: 0 0 2.2rem 0;


    /* White */
    background: #FFFFFF;
    font-family: Inter, sans-serif;

    /* shadow */
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;

}

.sinalText {
    
    display: none;

    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.0rem;
    text-align: center;
    text-transform: uppercase;

    line-height: 0%;
    background: #FFFFFF;
    border: 20px solid var(--background-color);
    border-radius: 20px;

    color: var(--color-text-darkblue);
}



#textBox{
    width: 90%;
    padding: 10px;
    margin: 10px 10px 0 10px;
    background: white;
    background-image: url('/decodificador_de_textos/assets/imgs/texto_criptografia.jpg');
    background-repeat: no-repeat;
    background-position: 50%;
    background-position-y: 90%;
    background-size: 80%;

    text-align: center;

    resize: none;
    border: 0 none;

    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.4em;
    line-height: 140%;
    outline: none;
    color: var(--color-text-darkblue);

}

.withoutText {

    padding-left: 30px;
    padding-right: 30px;
    
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 120%;
    
    /* or 29px */
    text-align: center;
    align-items: center;
    
    /* Gray*/
    color: #343A40;



    z-index: 1;

}

.complementText {


    padding-left: 20px;
    padding-right: 20px;
    margin: 10px 0 60px 0;
    
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 130%;
    
    /* or 29px */
    text-align: center;
    
    /* Gray*/
    color: #343A40;

    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;

    z-index: 1;
    
}

@media screen and (min-width: 1980px) {
    #textBox {
        background-position-y: 50%;
    }
}

@media screen and (max-width: 1400px) {
    #userText {
        padding: 0 2rem;
    }

    .sinalText {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 1280px) and (min-width: 1001px) {
    #userText {
        padding: 0 1.5rem;
    }

    .sinalText {
        font-size: 0.65rem;
        margin-bottom: 1rem;
    }

    .withoutText {
        font-size: 1.2rem;
        margin-bottom: 0.2rem;
    }

    .complementText{
        font-size: 0.8rem;
        padding: 0 10px;
        margin-bottom: 2rem;
    }

    #buttonsSubmitText {
        width: 80%;
        margin: 0 auto;
    }
}

/* LAYOUT MOBILE */

@media screen and (max-width: 1000px) {
    .container-header {
        padding: 0;
        justify-content: center;
    }

    .container-main {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: normal;
        text-align: center;
    }

    #userText {
        flex-grow: 1;
    }
    
    #containerResult {
        width: 96%;
        flex-grow: 1;
        margin-top: 2.2rem;
    }
    

    #userText {
        padding: 0 0rem;
    }

    #textBox {
        background-position-y: 40%;
        background-size: 65%;
    }

    .sinalText {
        font-size: 1rem;
        margin-top: 1rem;
    }

    .withoutText {
        font-size: 1.5rem;
        margin-bottom: 0.2rem;
    }

    .complementText{
        font-size: 1rem;
        padding: 0 10px;
        margin-bottom: 2rem;
        margin-top: 2px;
    }

    #textOrientation {
        padding: 0 !important;
    }

    #buttonsSubmitText {
        width: 60%;
        margin: 0 auto;
    }

    .btnCrypto, .btnDecrypto {
        font-size: 14px !important;
    }

    .btnCopy{
        margin-bottom: 1rem;
    }

    .container-footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .lineBar {
        width: 95%;
        margin: 20px 0 12px 0;
        height: 10px;
        border-top: 1px solid var(--color-text-darkblue);        
        border-right: 0;
    }

    .credits {
        width: 85%;
    }

    .followMe {
        margin: 0 0 10px 0;
    }
}

@media screen and (max-width: 650px) {
    .title {
        font-size: 2rem;
    }

    .logo {
        width: 5.6rem;
    }

    .userText {
        width: 80%;
        flex-grow: 0;
        padding: 0;
    }

    #textBox {
        background-position-y: 90%;
        background-size: 80%;
    }

    .inputText {
        height: 340px !important;

    }

    .alert {
        justify-content: center;
        margin: 0 !important;
    }

    .btnCrypto, .btnDecrypto {
        font-size: 12px !important;
        height: 50px !important;
    }

    #buttonsSubmitText {
        width: 80%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 430px) {
    .title {
        font-size: 1.3rem;
    }

    .logo {
        width: 4.8rem;
    }

    #textOrientation {
        font-size: 20px !important;
    }

    .inputText {
        font-size: 1.5rem !important;
    }

    .btnCrypto, .btnDecrypto {
        font-size: 9px !important;
    }

    #textBox {
        background-position-y: 100%;
        background-size: 80%;
    }

    .btnCopy{
        font-size: 10px !important;
    }

    .alert span{
        font-size: 14px;
    }

    #sinalText {
        font-size: 0.6rem;
        border: 16px solid var(--background-color);
    }

    #withoutText {
        font-size: 1.2rem;
    }

    .complementText {
        font-size: 0.8rem;
        padding: 0 40px;
    }

    .credits {
        font-size: 14px;    }

    .followMe {
        font-size: 14px;
    }
}
